@model IEnumerable<FreelancerMarketplace.Models.JobViewModel>
@{
    ViewBag.Title = "Managejobs";
    Layout = "~/Views/Shared/_LayoutFreelancer.cshtml";
}

}
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Dashboard Container -->
        <div class="dashboard-container">

            
            <!-- Dashboard Content
            ================================================== -->
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">

                    <!-- Dashboard Headline -->
                    <div class="dashboard-headline">
                        <h3>My Active Jobs</h3>


                    </div>

                    <!-- Row -->
                    <div class="row">

                        <!-- Dashboard Box -->
                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-0">

                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-material-outline-gavel"></i> Jobs List</h3>
                                </div>

                                <div class="content">
                                    <ul class="dashboard-box-list">

                                        @foreach (var item in Model)
                                        {
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing width-adjustment">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">

                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="/Freelancers/JobDetails/@item.Job.JobId">@Html.DisplayFor(modelItem => item.Job.Title)</a></h3>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Task Details -->
                                                <ul class="dashboard-task-info">
                                                    <li><strong>PKR @Html.DisplayFor(modelItem => item.Bid.PaymentAmount)</strong><span>Payment Amount</span></li>
                                                    <li><strong>@Html.DisplayFor(modelItem => item.Bid.DeliveryTime)</strong><span>Delivery Date</span></li>
                                                </ul>


                                            </li>




                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>













</body>
</html>