@model IEnumerable<FreelancerMarketplace.Models.Person>
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_LayoutFreelancer.cshtml";
}


<!-- Dashboard Container -->
<div class="dashboard-container">




    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Messages</h3>


            </div>

            <div class="messages-container margin-top-0">

                <div class="messages-container-inner">

                    <!-- Messages -->
                    <div class="messages-inbox">
                        <div class="messages-headline">

                        </div>

                        <ul>
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a href="/Freelancers/DisplayMessages/@item.PersonId">
                                        <div class="message-avatar"><img src="@Url.Content(item.ProfilePicture)" alt="" /></div>

                                        <div class="message-by">
                                            <div class="message-by-headline">
                                                <h5>@item.FirstName @item.LastName</h5>

                                            </div>

                                        </div>
                                    </a>
                                </li>

                            }

                        </ul>
                    </div>



                    <!-- Messages / End -->

