@model FreelancerMarketplace.Models.Freelancer

@{
    ViewBag.Title = "EmployersInactiveProjects";
}

<h2>EmployersInactiveProjects</h2>
<a href="@Url.Action("EmpInactiveProject");">Show Customer List</a>


