@model FreelancerMarketplace.Models.Freelancer

@{
    ViewBag.Title = "FreelancerWithSameEmployerDifPro";
}

<h2>FreelancerWithSameEmployerDifPro</h2>

<a href="@Url.Action("freelancerEmployerOndifProjects");">Show Report</a>

