@model FreelancerMarketplace.Models.Freelancer

@{
    ViewBag.Title = "FreelancerPrevioualyMadeProjects";
}

<h2>FreelancerPrevioualyMadeProjects</h2>

<a href="@Url.Action("freelancerPrevProject");">Show Report</a>


