@model FreelancerMarketplace.Models.Bid
@{
    ViewBag.Title = "AwardProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<!-- Bid Acceptance Popup
        ================================================== -->
<div >

    <!--Tabs -->
    <div>





        <!-- Welcome Text -->
        <div class="welcome-text">

            <h3>Accept Offer From @ViewBag.Name</h3>
            <div class="bid-acceptance margin-top-15">
                PKR  @Model.PaymentAmount
            </div>

        </div>

        @using (Html.BeginForm())
        {
            <div class="welcome-text">
                <input type="submit" class="margin-top-15" value="Accept" />
            </div>
        }
        </div>

        </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
