@model IEnumerable< FreelancerMarketplace.Models.Job>
@{
    ViewBag.Title = "MyJobs";
}


<!-- Dashboard Container -->
<div class="dashboard-container">
    
    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Manage Jobs</h3>


            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-assignment"></i> My Jobs</h3>
                        </div>

                        <div class="content">
                            <ul class="dashboard-box-list">
                                <li>
                                    @foreach (var item in Model)
                                    {
                                    <!-- Job Listing -->
                                    <div class="job-listing width-adjustment">

                                        <!-- Job Listing Details -->
                                        <div class="job-listing-details">

                                            <!-- Details -->
                                            <div class="job-listing-description">
                                                <h3 class="job-listing-title">
                                                    <a href="/Employer/JobDetails/@item.JobId">@item.Title</a>

                                                    <span class="dashboard-status-button yellow">Expiry Date: @item.Deadline.Value.ToString("dd MMM yyyy")</span>
                                                </h3>

                                                <!-- Job Listing Footer -->
                                                <div class="job-listing-footer">
                                                    <ul>
                                                        <li>
                                                            
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    

                                    <!-- Buttons -->
                                    <div class="buttons-to-right always-visible">
                                        <a href="/Employer/ManageFreelancers/@item.JobId" class="button ripple-effect">
                                            <i class="icon-material-outline-supervisor-account"></i> Manage Workers <span class="button-info">@item.countOfAcceptedBids</span>
                                        </a>
                                        <a href="/Employer/ManageBidders/@item.JobId" class="button ripple-effect">
                                            <i class="icon-material-outline-supervisor-account"></i> Manage Bidders <span class="button-info">@item.countOfBids</span>
                                        </a>
                                        <a href="/Employer/Edit/@item.JobId" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top">
                                            <i class="icon-feather-edit"></i>
                                        </a>
                                        <a href="/Employer/DeleteJob/@item.JobId" class="button gray ripple-effect ico" title="Remove" data-tippy-
                                           placement="top"><i class="icon-feather-trash-2"></i></a>
                                    </div>
                                
                                    }
                    </div>
                </div>

            </div>
            <!-- Row / End -->
            

        </div>
    </div>
    <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->