@model FreelancerMarketplace.Models.Bid

@{
    ViewBag.Title = "UnAssignProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<!-- Bid Acceptance Popup
        ================================================== -->
<div>

    <!--Tabs -->
    <div>





        <!-- Welcome Text -->
        <div class="welcome-text">
            @if (Model.Accepted == true)
            {
            <h3>UnAssign Project Awarded to @ViewBag.Name</h3>
            }
            @if (Model.Accepted == false)
            {
                <h3> Remove Bid From @ViewBag.Name </h3>
            }
            <div class="bid-acceptance margin-top-15">
                PKR  @Model.PaymentAmount
            </div>

        </div>

        @using (Html.BeginForm())
        {
            <div class="welcome-text">
                <input type="submit" class="margin-top-15" value="Confirm" />
            </div>
        }
    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
